body {
    background: rgb(20, 20, 20);
    color: rgb(241, 241, 241);
    width: 100vw;
    overflow-x: hidden;
    padding-top: 10px;
}

.header-container {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}